lab_1/Klijent/src/rassus/SensorServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="SensorServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:9000/SensorServer?xsd=1"/>
</xsd:schema>
</types>
<message name="searchNeighbour">
<part name="parameters" element="tns:searchNeighbour"/>
</message>
<message name="searchNeighbourResponse">
<part name="parameters" element="tns:searchNeighbourResponse"/>
</message>
<message name="storeMeasurement">
<part name="parameters" element="tns:storeMeasurement"/>
</message>
<message name="storeMeasurementResponse">
<part name="parameters" element="tns:storeMeasurementResponse"/>
</message>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<portType name="SensorServer">
<operation name="searchNeighbour">
<input wsam:Action="http://example/SensorServer/searchNeighbourRequest" message="tns:searchNeighbour"/>
<output wsam:Action="http://example/SensorServer/searchNeighbourResponse" message="tns:searchNeighbourResponse"/>
</operation>
<operation name="storeMeasurement">
<input wsam:Action="http://example/SensorServer/storeMeasurementRequest" message="tns:storeMeasurement"/>
<output wsam:Action="http://example/SensorServer/storeMeasurementResponse" message="tns:storeMeasurementResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://example/SensorServer/registerRequest" message="tns:register"/>
<output wsam:Action="http://example/SensorServer/registerResponse" message="tns:registerResponse"/>
</operation>
</portType>
<binding name="SensorServerPortBinding" type="tns:SensorServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchNeighbour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeMeasurement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SensorServerService">
<port name="SensorServerPort" binding="tns:SensorServerPortBinding">
<soap:address location="http://localhost:9000/SensorServer"/>
</port>
</service>
</definitions>